<table>
  <tr><th>Typ filmu</th><th>Tytuł</th><th>Rok wydania</th><th>Gatunki</th><th>Szczegóły</th>
  </tr>
  @for (item of moviesResponse()?.titles; track item.id) {
    <tr>
      <td>{{ item.type }}</td>
      <td>{{ item.primaryTitle }}</td>
      <td>{{ item.startYear }}</td>
      <td>{{ item.genres }}</td>
      <td class="td-last">
        <button mat-raised-button style="margin: 10px;" (click)="openMovieDetails(item.id)">Szczegóły</button>
      </td>
    </tr>
  } @empty {
    <tr><td colspan="5">Brak filmów do wyświetlenia.</td></tr>
  }
</table>