<table>
  <tr class="table-header">
    <th>Typ filmu</th>
    <th>Tytuł</th>
    <th>Rok wydania</th>
    <th>Gatunki</th>
    <th class="th-last">Szczegóły</th>
  </tr>
  @for (item of moviesResponse()?.titles; track item.id) {
    <tr>
      <td>{{ item.type | moviePipe: 'type'}}</td>
      <td>{{ item.primaryTitle}}</td>
      <td>{{ item.startYear}}</td>
      <td>{{ item.genres | moviePipe}}</td>
      <td class="td-last">
        <button mat-stroked-button class="open-button" (click)="openMovieDetails(item.id)">Szczegóły</button>
      </td>
    </tr>
  } @empty {
    <tr><td colspan="5">Brak filmów do wyświetlenia.</td></tr>
  }
</table>

<app-movie-pagination 
  [currentPage]="currentPage()"
  [hasNext]="hasNextPage()"
  [hasPrevious]="hasPreviousPage()"
  (next)="nextPage()"
  (previous)="previousPage()">
</app-movie-pagination>