table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px;
}

th, td {
  border: 1px solid #cfcdcd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #54c258;
  color: white;
}
