<mat-dialog-content class="dialog-container">
  <div class="dialog-header">
    <h2 mat-dialog-title>{{ data.primaryTitle }}</h2>
    <button mat-icon-button (click)="closeDialog()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog-body">
      <div class="image-container">
        <img 
          [src]="data.primaryImage.url" 
          [alt]="data.primaryTitle" 
          class="movie-image"
        >
      </div>

    <div class="info info-grid">
      <div class="info info-section">
        <h4>Podstawowe informacje</h4>
        <div class="info info-item">
          <span class="label">Tytuł:</span>
          <span class="value">{{ data.primaryTitle}}</span>
        </div>
        <div class="info info-item">
          <span class="label">Typ:</span>
          <span class="value type-badge">{{ data.type | moviePipe: 'type' }}</span>
        </div>
        <div class="info info-item">
          <span class="label">Rok wydania:</span>
          <span class="value">{{ data.startYear }}</span>
        </div>
        <div class="info info-item">
          <span class="label">Czas trwania:</span>
          <span class="value">{{ (data.runtimeSeconds) / 60 }} min</span>
        </div>
      </div>


        <div class="info info-section">
          <h4>Gatunki</h4>
          <div class="genres-container">
              <span>{{ data.genres | genresPipe: "genres"}}</span>
          </div>
        </div>


        <div class="info info-section full-width">
          <h4>Fabuła</h4>
          <p>{{ data.plot }}</p>
        </div>

        <div class="info info-section">
          <h4>Reżyserzy</h4>
          <ul class="people-list">
            @for (director of data.directors; track director.id) {
              <li>
                {{ director.displayName }}
              </li>
            }
          </ul>
        </div>
        
        <div class="info info-section">
          <h4>Ocena</h4>
          <div class="rating-container">
            <div class="rating-score">
              <span class="score">{{ data.rating.aggregateRating }}</span>
              <span class="score-max">/10</span>
            </div>
            <div class="rating-votes">
              {{ data.rating.voteCount }} głosów
            </div>
          </div>
        </div>

        <div class="info info-section">
          <h4>Kraj produkcji</h4>
          <div class="countries-container">
            @for (country of data.originCountries; track country.code) {
              <span class="country-tag">{{ country.name }}</span>
            }
          </div>
        </div>

    </div>
  </div>
</mat-dialog-content>